/* fraunces-regular - latin */
@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/fraunces-v10-latin-regular.woff2') format('woff2'),
         url('../fonts/fraunces-v10-latin-regular.woff') format('woff'); 
}
  /* fraunces-900 - latin */
  @font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/fraunces-v10-latin-900.woff2') format('woff2'),
         url('../fonts/fraunces-v10-latin-900.woff') format('woff'); 
  }

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 44px;
    font-family: 'Barlow' sans-serif;
    font-size: 16px;
    color: #000000;
}

img {
    vertical-align: middle;
    object-fit: cover;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}


.header .container {
	display: flex;
	align-items: center;
}

.header-right {
	display: flex;
	align-items: center;
	margin-left: auto;
}
.nav {
	margin-right: 8px;
}

.nav-list {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
    color: #83888F;
	list-style-type: none;
}

.nav-item + .nav-item {
    padding-left: 33px;
}

.hero-inner {
    width: 1280px;
    height: 600px;
    margin: 100px 50px;
    border-radius: 10px;
    background-image: url(/image/png/Bitmap.png);
}

.hero-heading {
    width: 495px;
    font-family: "Fraunces" 9pt;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    padding-top: 80px;
    padding-left: 86px;
    color: #FEFCF7;
}

.hero-text {
    width: 445px;
    font-family: "Barlow" sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    padding-top: 32px;
    padding-left: 86px;
    padding-bottom: 20px;
}

.hero-link {
    text-align: center;
    text-decoration: none;
    margin-top: 56px;
    margin-left: 86px;
    padding: 15px 31px;
    border-radius: 6px;
    background-color: #0E8784;
    color: #ffffff;
}

/* .card-section .container {
    display: flex;
	column-gap: 30px;
}

.card {
    position: relative;
    width: 255px;
    padding: 126px;
    background-image: url(/image-two/our-collection.jpg);
    background-position: top;
    background-repeat: no-repeat
}

.card + .card {
    margin-left: 30px;
}

.card__image {
	vertical-align: middle;
	object-fit: cover;
	margin-bottom: 70px;
    margin-right: 165px;
}

.card__title {
    width: 255px;
	margin-top: 0;
	margin-bottom: 20px;
    text-align: center;
}

.card__paragraph {
    width: 255px;
	margin-top: 0;
	margin-bottom: 20px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333D4B;
} */

.coffee-type .container {
    display: block;
    text-align: center;
    width: 1280px;
    height: 580px;
    background-color: #333D4B;
    border-radius: 10px;
}

.coffee__heading {
    margin-top: 100px;
    margin-bottom: 32px;
    padding-top: 100px;
    font-family: "Fraunces" serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FEFCF7;
}

.coffee__text {
    display: inline-block;
    width: 540px;
    font-family: "Barlow" sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    opacity: 0.8;
    color: #FEFCF7;
}

.card-best-quality .container {
    display: flex;
	column-gap: 30px;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 382px;
    left: 165px;
    top: 1920px;
    background-color: #0E8784;
    border-radius: 8px;
}

.card-best-quality {
    display: inline-block;
    margin-top: 86px;
    width: 350px;
    height: 390px;
    left: 165px;
    top: 1920px;
    background-color: #0E8784;
    border-radius: 8px;
}

.card-best-quality + .card-best-quality {
    margin-left: 30px;
}

.card-best-quality__image {
	width: 71px;
    height: 72px;
    margin: 0 auto;
    margin-top: 72px;
	margin-bottom: 56px;
    margin-right: 143px;
    margin-left: 136px;
}

.card-best-quality__title {
    width: 255px;
	margin-top: 56px;
	margin-bottom: 24px;
    margin-right: 48px;
    margin-left: 47px;
    font-family: "Fraunces" 9pt;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FEFCF7;
}

.card-best-quality__paragraph {
    width: 255px;
	margin-top: 24px;
	margin-bottom: 50px;
    margin-right: 48px;
    margin-left: 47px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
}

.image-second {
    width: 72px;
    height: 50px;
    margin-top: 83px;
	margin-bottom: 67px;
    margin-right: 143px;
    margin-left: 136px;
}

.how-it-works .container {
    display: block;
    width: 800px;
    margin-top: 400px;

}

.how-it-works-heading {
    width: 255px;
    margin-top: 200px;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}

/* .how-it-works-line {
    width: 760px;
    height: 1px;
    margin-top: 95px;
    border: 2px solid #FDD6BA;
} */
/* ================================================= */

.pick-section .container {
    display: flex;
    margin: 0 auto;
}

/* .pick {
    display: inline-block;
    padding: 82px;
} */

.pick + .pick {
    margin-left: 95px;
}

.pick__image {
	vertical-align: middle;
	object-fit: cover;
	margin-bottom: 38px;
    margin-right: 195px;
}

.pick__title {
    width: 255px;
	margin-top: 38px;
	margin-bottom: 43px;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
    text-align: left;
}

.pick__paragraph {
    width: 255px;
	margin-top: 43px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333D4B;
    text-align: left;
}


