* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 44px;
    font-family: 'Barlow' sans-serif;
    font-size: 16px;
    color: #000000;
}

img {
    vertical-align: middle;
    object-fit: cover;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}


.header .container {
	display: flex;
	align-items: center;
}

.header-right {
	display: flex;
	align-items: center;
	margin-left: auto;
}
.nav {
	margin-right: 8px;
}

.nav-list {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
    color: #83888F;
	list-style-type: none;
}

.nav-item + .nav-item {
    padding-left: 33px;
}

.coffee-info {
    width: 1280px;
    height: 600px;
    margin: 100px 50px;
    border-radius: 10px;
    background-image: url(/image/png/Bitmap.png);
}

.coffee-heading {
    width: 495px;
    font-family: "Fraunces" 9pt;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    padding-top: 80px;
    padding-left: 86px;
    color: #FEFCF7;
}

.coffee-text {
    width: 445px;
    font-family: "Barlow" sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    padding-top: 32px;
    padding-left: 86px;
    padding-bottom: 20px;
}

.coffee-link {
    text-align: center;
    text-decoration: none;
    margin-top: 56px;
    margin-left: 86px;
    padding: 15px 31px;
    border-radius: 6px;
    background-color: #0E8784;
    color: #ffffff;
}